{% extends "base.html" %}
{% block content %}
{% for background in backgrounds %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="cardlabel"><a class="article-title"
                    href="{% url 'background_detail' background.pk %}">{{ background.name }}</a>
            </h2>
        </div>
        <p class="article-content">{{ background.description }}</p>
    </div>
</article>
{% endfor  %}
{% endblock content %}