{% extends "base.html" %}
{% block content %}
<a href="{% url 'background_new' %}" class="button primary icon solid fa-plus" id="create">New Background</a>
{% for background in backgrounds %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="cardlabel"><a class="article-title"
                    href="{{ background.get_absolute_url }}">{{ background.name }}</a>
            </h2>
        </div>
        <p class="article-content">{{ background.description }}</p>
    </div>
</article>
{% endfor  %}
{% endblock content %}