{% extends "base.html" %}
{% block content %}
{% for class in classes %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="cardlabel"><a class="article-title" href="{% url 'class_detail' class.pk %}">{{ class.name }}</a>
            </h2>
            <small class="text-mute">Hit Dice: 1d{{ class.hit_dice }}</small>
        </div>
        <p class="article-content">{{ class.description }}</p>
    </div>
</article>
{% endfor  %}
{% endblock content %}