{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section profile">
    <div class="media profile">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body profile">
            <h2 class="cardlabel"><span class="article-title">{{ user.username }}</span></h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
</article>
{% for object in all_objects %}
<article class="media content-section update-prof">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="cardlabel"><a class="article-title" href="{{ object.get_absolute_url }}">{{ object.name }}</a>
            </h2>
        </div>
        <p class="article-content">{{ object.description }}</p>
    </div>
</article>
{% endfor %}
{% endblock %}