{% extends "base.html" %}

{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h2 class="cardlabel"><span class="article-title">{{ object.name }}</span></h2>
      <small class="text-mute">Alignment: {{ object.alignment }}</small>
    </div>
    <p class="article-content">{{ object.description }}</p>
    <div class="article-metadata-lite">
      <h3 class="article-content">Age</h3>
    </div>
    <p class="article-content">{{ object.age }} years</p>
    <div class="article-metadata-lite">
      <h3 class="article-content">Size</h3>
    </div>
    <p class="article-content">{{ object.size }}ft</p>
    <div class="article-metadata-lite">
      <h3 class="article-content">Speed</h3>
    </div>
    <p class="article-content">Base Walking Speed is {{ object.speed }}ft</p>
  </div>
</article>
{% endblock %}