{% extends "base.html" %}
{% block content %}
{% load character_builder_extras %}
<div class="side_layout">
  {% if object.author == user %}
  <div class="butn container">
    <a href="{% url 'background_edit' object.id %}" class="button primary icon solid" id="side">Update Background</a>
    <a href="{% url 'background_delete' object.id %}" class="button primary icon solid" id="side-danger">Delete Background</a>
  </div>
  {% endif %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2 class="cardlabel"><span class="article-title">{{ object.name }}</span></h2>
      </div>
      <p class="article-content">{{ object.description }}</p>
  </article>
</div>
{% endblock %}
