{% extends "base.html" %}
{% block content %}
{% load character_builder_extras %}
<div class="side_layout">
  {% if object.author == user %}
  <div class="butn container">
    <a href="{% url 'background_edit' object.id %}" class="button primary icon solid" id="side">Update Background</a>
    <a href="{% url 'background_delete' object.id %}" class="button primary icon solid" id="side-danger">Delete Background</a>
  </div>
  {% endif %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2 class="cardlabel"><span class="article-title">{{ object.name }}</span></h2>
      </div>
      <p class="article-content">{{ object.description|upper }}</p>

{% for trait in background_details.traits.all %}
<div class="article-metadata-lite">
  {% if background_details.author == user %}
  <small class="text-mute side"><a href="{% url 'background_trait_delete' trait.id %}" class="delete">Delete</a></small>
  <small class="text-mute side"><a href="{% url 'background_trait_edit' trait.id background_details.id %}"
      class="edit">Edit</a></small>
  {% endif %}
  <h3 class="article-content">{{ trait }}</h3>
</div>
<p class="article-content">{{ trait.description }}</p>
{% endfor %}
{% if background_details.author == user %}
<a href="{% url 'background_trait_new' background_details.id %}" class="button small icon solid" id="rtrait">Add Trait</a>
{% endif %}
  </article>
</div>
{% endblock %}
