{% extends "base.html" %}
{% block content %}
<a href="{% url 'class_new' %}" class="button primary icon solid fa-plus" id="create">New Class</a>
{% for class in classes %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="cardlabel"><a class="article-title" href="{{ class.get_absolute_url }}">{{ class.name }}</a>
            </h2>
            <small class="text-mute"><a href="{% url 'profile_content' class.author.username %}"
                    class="edit">{{ class.author }}</a></small>
        </div>
        <p class="article-content">{{ class.description|safe }}</p>
    </div>
</article>
{% endfor  %}
{% endblock content %}
