{% extends "base.html" %}
{% block content %}
<a href="{% url 'race_new' %}" class="button primary icon solid fa-plus" id="create">New Race</a>
{% for race in races %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="cardlabel"><a class="article-title" href="{{ race.get_absolute_url }}">{{ race.name }}</a>
            </h2>
            <small class="text-mute"><a href="{% url 'profile_content' race.author.username %}"
                    class="edit">{{ race.author }}</a></small>
        </div>
        <p class="article-content">{{ race.description|safe }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}
