{% extends "base.html" %}
{% block content %}
<div class="side_layout">
  <div class="butn container">
    <a href="{% url 'race_trait_edit' object.id %}" class="button primary icon solid" id="side">Update Trait</a>
    <a href="{% url 'race_trait_delete' object.id %}" class="button primary icon solid" id="side-danger">Delete Trait</a>
  </div>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2 class="cardlabel"><span class="article-title">{{ race_trait_details.name }}</span></h2>
      </div>
      <p class="article-content">{{ race_trait_details.description }}</p>
  </article>
</div>
{% endblock %}
